<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Perceval Beja-Battais</title>
  <link rel="stylesheet" href="{{ '/style.css' | relative_url }}">
  <meta name="description" content="Perceval Beja-Battais – PhD student in Applied Mathematics, specializing in Machine Learning, Optimization and Numerical Simulation.">
  <meta name="keywords" content="Perceval Beja-Battais, PhD, Machine Learning, Optimization, Numerical Simulation, ENS Paris-Saclay">
  <meta name="author" content="Perceval Beja-Battais">
  <meta name="google-site-verification" content="gFeharNQsECYyqUeZlsNbnl0A6MkTJegChAHpcxBygc" />
</head>
<body>
  <header>
    <div class="header-container">
      <div class="header-photo">
        <img class="profile-pic" src="{{ '/assets/img/photo.jpg' | relative_url }}" alt="Photo de profil">
      </div>
      <div class="header-text">
        <!-- Nom en H1 pour le SEO -->
        <h1>Perceval Beja-Battais</h1>
        <!-- Sous-titre -->
        <p class="subtitle">PhD Student in Applied Mathematics | Machine Learning & Optimization</p>

        <nav>
          <a href="{{ '/' | relative_url }}">About</a>
          <a href="{{ '/cv' | relative_url }}">CV</a>
          <a href="{{ '/contact' | relative_url }}">Contact</a>
          <a href="{{ '/references' | relative_url }}">References</a>
        </nav>
      </div>
    </div>
  </header>

  <main>
    {{ content }}
  </main>

  <footer>
    <p>&copy; Perceval Beja-Battais - {{ site.description }}</p>
  </footer>
</body>
</html>
